button,
.button {
  background: none;
  border-radius: 0.375em;
  border: 1px solid white;
  box-shadow: var(--box-shadow);
  color: inherit;
  display: inline-block;
  line-height: inherit;
  padding: 0.375em 0.75em;
  text-shadow: inherit;
  transition: background-color calc(var(--duration) / 2),
    color calc(var(--duration) / 2);
  white-space: nowrap;
}
button:not([disabled]),
.button.disabled {
  cursor: pointer;
}
button:active,
.button:active {
  background-color: white;
  color: var(--dark-background-color);
  text-shadow: none;
}
button:focus {
  outline: none;
}
