.CurrencyInput {
  font-size: var(--input-font-size);
}

.CurrencyInput input {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  text-shadow: inherit;
}
.CurrencyInput input:focus {
  outline: none;
}

.CurrencyInput input + span {
  visibility: hidden;
}
