.CurrencyInput {
  font-size: var(--input-font-size);
  position: relative;
  white-space: nowrap;
}

.CurrencyInput > :first-child {
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: right;
}

.CurrencyInput > :first-child > :last-child {
  visibility: hidden;
}

.CurrencyInput > input {
  --right-padding: 0.5em;
  background: none;
  border: none;
  color: inherit;
  margin-left: var(--right-padding);
  padding: 0 var(--right-padding) 0 0;
  text-align: right;
  text-shadow: inherit;
  width: 100%;
}
.CurrencyInput > input:focus {
  outline: none;
}
.CurrencyInput > input.empty {
  text-align: right;
}

.CurrencyInput > input::selection {
  background-color: white;
}
