.ExchangeSlide {
  --horizontal-margin: 1em;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  margin-left: var(--horizontal-margin);
  margin-right: var(--horizontal-margin);
}
@media (min-width: 640px) {
  .ExchangeSlide {
    --horizontal-margin: 10%;
  }
}

.ExchangeSlide > * {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.ExchangeSlide-currency {
  font-size: var(--input-font-size);
}
