.Header {
  display: flex;
  font-size: 0.8em;
}
@media (min-width: 480px) {
  .Header {
    font-size: 1em;
  }
}
@media (min-width: 640px) {
  .Header {
    font-size: 1.2em;
  }
}

.Header > * {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.Header > :first-child > :first-child {
  margin-right: auto;
}

.Header > :last-child > :first-child {
  margin-left: auto;
}

.Header button {
  margin: 0.75em;
}
