.Header {
  align-items: center;
  display: flex;
  font-size: 0.875em;
  justify-content: space-between;
}
@media (min-width: 480px) {
  .Header {
    font-size: 1em;
  }
}
@media (min-width: 640px) {
  .Header {
    font-size: 1.1em;
  }
}

@media (min-width: 480px) {
  .Header > * {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
  }
}

.Header > :first-child > :first-child {
  margin-right: auto;
}

.Header > :last-child > :first-child {
  margin-left: auto;
}

.Header button {
  margin: 0.75em;
}
