.RateDropdown {
  display: inline-block;
  position: relative;
  transition: opacity var(--duration);
}
.RateDropdown[hidden] {
  opacity: 0;
  pointer-events: none;
}

.RateDropdown > select {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.RateDropdown > span {
  white-space: nowrap;
}
