.Slider > :first-child {
  cursor: grab;
  overflow: hidden;
  position: relative;
}

.Slider > :first-child > :first-child {
  position: relative;
  white-space: nowrap;
}
.Slider > :first-child > :first-child.animating {
  transition: left var(--duration) ease-out;
}

.Slider > :first-child > :first-child > * {
  float: left;
  white-space: normal;
}

.Slider > nav > .active {
  font-weight: bold;
}
