.Slider {
  position: relative;
}

.Slider > :first-child {
  cursor: grab;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.Slider > :first-child > :first-child {
  height: 100%;
  position: relative;
}
.Slider > :first-child > :first-child.animating {
  transition: left var(--duration) ease-out;
}

.Slider > :first-child > :first-child::after {
  clear: both;
  content: '';
  display: block;
}

.Slider > :first-child > :first-child > * {
  float: left;
  height: 100%;
}

.Slider > nav {
  bottom: 0.5em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.Slider > nav > * {
  --size: 0.625em;
  background: white;
  border-radius: 50%;
  color: transparent;
  cursor: pointer;
  display: inline-block;
  height: var(--size);
  text-shadow: none;
  transition: opacity var(--duration);
  width: var(--size);
}
.Slider > nav > :not(:last-child) {
  margin-right: 0.25em;
}
.Slider > nav > :not(.active) {
  opacity: 0.4;
}
